<div class="container">
  <div class="row">
    <h2>Inserisci l'espressione da valutare</h2>
    <div id="custom-search-input">
        <div class="input-group col-md-12">
            <input id="inputbox" type="text" class="search-query form-control" placeholder="Expression" />
            <span class="input-group-btn">
                <button class="btn" type="button" ng-click="valuta()">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </span>
        </div>
    </div>
  </div>
</div>